#add-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-subdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#date-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s all linear;
}

#date-menu.reveal {
    display: flex;
}


